*{
  padding: 0;
  margin: 0;
  border-color: red;
  font-family: Microsoft YaHei, sans-serif;
  /*-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
}
ul{
  list-style: none;
}
body{
  background-color: #eee;
}
a{
  text-decoration: none;
}
@media screen and (max-width: 980px){
  /*#logo{
    display: none;
  }*/
}

/*header*/
.header{
  background-color: #fff;
  
}
.wrapper{
    width: 960px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.header .logo img{
  width: 240px;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.header a{
  text-decoration: none;
  color: #000;
}

.header .user {
  position: absolute;
  width: 200px;
  height: 35px;
  right: 0;
  bottom: 20px;
}
.header .user .userimg {
  position: relative;
  display: inline;
  float: right;
  margin-right: 5px;
  width: 35px;
  bottom: 0;
}
.header .user .username{
  position: relative;
  display: inline;
  float: right;
  font-size:25px;
  bottom: 0;
}
.header .user .list-icon{
  display: inline;
  position: relative;
  float: right;
  margin-top: 16px;
  width: 10px;
  bottom: 0;
}



/*Question board*/
.Qboard{
  display: block;
  position: relative;
  top:20px;
  width: 920px;
  margin: 0 auto;  
  overflow：auto;
  background-color: #fff;
  padding: 20px;
}
.container{
  position: relative;
  height: auto;
  min-height: 300px;
  padding-bottom: 20px;    
}
.time{
  position: relative;
  right: 0;
  text-align: right;
  font-size: 25px;
  color: #888888;
}
 .lecture{
  position: relative;
  left: 40px;
  top: -20px;
  width: 400px;
  height: 60px;
}
.lecture img{
  position: absolute;
  bottom: 5px;
  height: 40px;
}
.lecname{
  position: absolute;
  bottom: 0;
  left: 60px;
  font-size: 40px;
  vertical-align: text-bottom;
}
 .questionlist{
  position: relative;
  top: -10px;
  left: 20px;
  width: 880px;
  padding-bottom: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #383838;  
}
.questionlist p{
  position: absolute;
  height: auto;
  top:40px;
  left: 40px;
  font-size: 27px;
}
.questionframe{
  position: relative;
  top:80px;
  left: 40px;
  width: 800px;
  height: 140px;
  background: #E0E0E0;
  margin-bottom: 15px;
}
.userimg2{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 110px;
}
.question{
  position: absolute;
  top: 25px;
  left: 135px;
  width: 525px;
  height: 90px;
  font-size: 20px;
}
.username2{
  font-weight: bold;
}
.vote{
  position: absolute;
  top: 35px;
  left: 680px;
  width: 100px;
  height: 105px;
}
.votenum{
  position: absolute;
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.votebtn{
  position: absolute;
  bottom: 15px;
  width: 100px;
}